/* .main {
    display: grid;
    grid-template-rows: 50px 580px 100px;
    grid-gap: 2px;
} */
    .header {
        display: flex;
        align-items: center;
        border: solid 2px black;
        justify-content: center;
    }
    .body {
        display: grid;
        grid-template-columns: 250px auto 200px;
        border: solid 2px black;
    }
        .left {
            border-right: solid 2px black;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .right {
            border-left: solid 2px black;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .center {
            display: flex;
            align-content: flex-start;
            flex-wrap: wrap;
            overflow: hidden;
            justify-content: center;
        }
            .title {
                border: solid 2px black;
                height: 100px;
                width: 150px;
                margin: 10px;
                padding: 10px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
    .footer {
        border: solid 2px black;
        display: flex;
        align-items: center;
        justify-content: center;
    }

@media only screen and (min-height: 890px) {
    .main {
        display: grid;
        grid-template-rows: 50px 720px 100px;
        grid-gap: 2px;
    }
}
@media only screen and (min-height: 760px) and (max-height: 889px) {
    .main {
        display: grid;
        grid-template-rows: 50px 580px 100px;
        grid-gap: 2px;
    }
}
@media only screen and (min-height: 620px) and (max-height: 759px) {
    .main {
        display: grid;
        grid-template-rows: 50px 440px 100px;
        grid-gap: 2px;
    }
}
@media only screen and (max-height: 619px) {
    .main {
        display: grid;
        grid-template-rows: 50px 300px 100px;
        grid-gap: 2px;
    }
}